@import "tailwindcss";

@plugin "@tailwindcss/typography";


@theme {
  --color-surface: var(--color-white);
  --color-on-surface-strong: black;
  --color-on-surface: hsla(240, 1%, 15%, 1);
  --color-on-surface-light: hsla(240, 1%, 26%, 0.90);

  --color-surface-2: var(--color-gray-200);

  --color-brackground: var(--color-gray-100);
  --color-on-background: hsla(240, 1%, 26%, 1);
  --color-on-background-light: hsla(240, 1%, 26%, 0.90);

  --color-primary: var(--color-teal-700);
  --color-primary-light: var(--color-teal-50);
  --color-primary-light-2: var(--color-teal-100);
  --color-primary-light-3: var(--color-teal-200);
  --color-on-primary: var(--color-white);

  --color-button-neutral: var(--color-gray-300);
  --color-button-primary: var(--color-teal-700);
  --color-on-button-neutral: hsla(240, 1%, 26%, 1);
  --color-on-button-primary: var(--color-white);

  --font-serif: "Mackinac", "ui-serif", "Georgia", "Cambria", "Times New Roman", "Times", "serif";
  --font-sans: "Inter", "ui-sans-serif", "system-ui", "-apple-system, BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


@layer components {
  details summary {
    list-style: none;
    /* Removes marker in Firefox */
    cursor: pointer;
  }

  details summary::-webkit-details-marker {
    display: none;
    /* Removes marker in Chrome/Safari */
  }
}